* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.review-container {
  border: 1px solid black;
  margin: 120px auto 0 auto;
  width: 500px;
  height: 500px;
}

#text {
  display: block;
  box-shadow: 0 0 2px gray;
  width: 400px;
  height: 300px;
  resize: none;
  border: none;
  border-radius: 20px;
  margin: 30px auto 0 auto;
  font-weight: bold;
}

.title_like {
  display: flex;
}

#title {
  display: flex;
  margin-left: 55px;
  margin-top: 10px;
  width: 300px;
  height: 27px;
  border: none;
  border-radius: 20px;
  box-shadow: 0 0 2px gray; 
  padding: 10px 10px;
}

.like-rating {
  display: flex;
  font-size: 2rem;
  margin-left: 50px;
  margin-top: 1px;
  text-align: center;
}

.like-rating input {
  display: none;
}
 
.like-rating i {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #2b2a29;
  cursor: pointer;
}
  
.like-rating input:checked ~ label i {
  -webkit-text-fill-color: #82BDFF;
}
 
.like-rating i:hover,
.like-rating i:hover ~ i {
  -webkit-text-fill-color: #59A1FF;
}
