.search-icon {
    transform: rotate(360deg);
}

.search-header {
    padding: 0px 10px;
}

.like-rating {
    display: flex;
    font-size: 1rem;
    margin-top: 1px;
    text-align: center;
}

.like-rating input {
    display: none;
}

.like-rating i {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #FF8063;
    cursor: pointer;
}
    
.like-rating input:checked ~ label i {
    -webkit-text-fill-color: #FF8063;
    -webkit-text-stroke-color: #FF8063;
    -webkit-text-stroke-width: 1px;
}

.like-rating i:hover,
.like-rating i:hover ~ i {
    -webkit-text-fill-color: #FF8063;
}

#show-review {
    border: none;
    padding: 10px;
    background-color: #FF918A;
    color: #fff;
    border-radius: 3px;
    width: 200px;
    height: 50px;
    margin: auto;
    margin-top: 30px;
    font-size: 17px;
    cursor: pointer;
}

.review-list {
    border-bottom: 50px solid #eee;
}

