.fa-arrow-left {
  color: #21355B;
  position: relative;
}

.fa-magnifying-glass {
  color: #21355B;
}

.fa-house {
  font-size: 20px;
  position: relative;
}

.main-header {
  height: 50px;
}

#under-line2 {
  border-bottom: 1px solid #CCD3D8;
  position: relative;
}

.search-box{
  display: block;
  border: 1px solid #b0b8be;
  border-radius: 50px;
  height: 35px;
  font-size: 18px;
}

.icon-search {
  display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline-start: 0px;
}

.search-box {
  width: 350px;
  height: 33px;
  margin-bottom: 5px;
  padding-left: 18px;
}

@media (min-width: 200px) {
  .search-box {
    width: 300px;
  }
}

.sfield {
  display: flex;
  position: relative;
}

.sicon {
  position: absolute;
  right: 12px;
  top: 8px;
  font-size: 20px;
}


.category {
  text-align: center; 
  font-weight: 600;
}
