* {
  padding: 0;
  margin: 0;
}

.main-header {
  border-bottom: 1px solid #000;
}



.fa-arrow-left {
  color: white;
  position: relative;
  margin-top: 5px;
  margin-left: 5px;
  font-size: 30px;
}

.fa-magnifying-glass {
  color: #21355B;
}

.main-header {
  height: 50px;
}

.search-box{
  display: block;
  border: 2px solid #000;
  border-radius: 5px;
  height: 35px;
  font-size: 15px;
  font-weight: bold;
}

.icon-search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline-start: 0px;
}

.icon-search__div a img {
  width: 30px;
  transform: rotate(180deg);
  margin-left: 10px;
  margin-top: 5px;
}


.search-box {
  width: 350px;
  height: 33px;
  margin-top: 5px;
  padding-left: 18px;
}

@media (min-width: 200px) {
  .search-box {
    width: 300px;
  }
}

.sfield {
  display: flex;
  position: relative;
}

.sicon {
  position: absolute;
  right: 12px;
  top: 12px;
  font-size: 20px;
  width: 23px;
}

.category {
  text-align: center; 
  font-weight: 600;
}
