.nav {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #f9f9fa;
    padding: 0px 50px;
    box-sizing: border-box;
    border-top: 1px solid #8092A3;
}

.nav-list {
    display: flex;
    justify-content: space-between;
    padding-inline-start: 0px;
    padding: 13px 0px;
}

.nav__btn {
    color: #8092A3;
}

.nav__link {
    position: relative;
    transition: 0.3s;
    color: #8092A3;
}

.nav__link:hover {
    color: #21355B;
}


.nav__link img {
    width: 30px;
}